<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FLScanIE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FLScanIE.Properties.Settings>
            <setting name="setFlDir" serializeAs="String">
                <value>C:\Discovery\FreelancerSDK</value>
            </setting>
            <setting name="setDisableUTF" serializeAs="String">
                <value>False</value>
            </setting>
        </FLScanIE.Properties.Settings>
    </userSettings>
</configuration>